<section class="header"> 
  <section class="oi">    
        <img src="assets/logo.png" alt="">
        
      <div id="icones">
            <div class="lado">
                <img src="assets/pessoa.png" alt="" class="separar">
                <p class="separar">Nome do usuário</p>
            </div>
            <div class="tamanho">
                <a class="separar">
                    <i class="ion-ios-minus-empty"></i>
                </a>
                <a class="separar">
                    <i class="ion-ios-browsers-outline"></i>
                </a>
                <a class="separar">
                    <i class="ion-ios-close-empty"></i>
                </a>
          </div>
      </div>
  </section>
  


  
</section>