<nav class="sidebar">

<section class="navlateral-principal">
  <div class="navlateral-total">
    <figure >
      <img src="assets/time.png">
      <figcaption>
        Time
      </figcaption>
    </figure>
   
    <figure>
        <img src="assets/expense.png">
        <figcaption>
          Expense
        </figcaption>
      </figure>
     
      <figure>
          <img src="assets/locations.png">
          <figcaption>
            Locations
          </figcaption>
        </figure>
        
        <figure>
            <img src="assets/other.png">
            <figcaption>
              Other Actions
            </figcaption>
          </figure>
  </div>  
  

</section>
</nav>